[Unit]
Description=Socket for native printing to reMarkable
After=multi-user.target

[Socket]
ListenStream=0.0.0.0:9100

[Install]
WantedBy=multi-user.target
