[Unit]
Description=Native printing to reMarkable

[Service]
ExecStart=/home/root/bin/printer.arm -restart -debug
Restart=always

[Install]
WantedBy=multi-user.target