[Unit]
Description=Native printing to reMarkable
Requires=printer.socket

[Service]
ExecStart=/home/root/bin/printer.arm -restart -debug

[Install]
WantedBy=multi-user.target
